        {% extends 'base.html' %}
        {% block content %}

            <div class="shadow card">
                <div class="card-body">
                    <h5 class="title"><b>{{task.name}}</b></h5>
                    <p><b>{{task.proirety}}</b></p>
                    <p><b>{{task.date}}</b></p>
                    <a class="btn btn-secondary" href="{% url 'delete' task.id %}">DONE</a>
                    <a class="btn btn-secondary" href="{% url 'update' task.id %}">UPDATE</a>
                </div>
            </div> <br>

        {% endblock %}

