.banner{
    background-color: gainsboro;
    height: 180px;
    width: 100%;
    margin-bottom: 50px;
    }

.banner-text {
    text-align: center;
    padding-top: 50px;
    }

body{
background-color: lightsteelblue;
}

h1{
color: dodgerblue;
}

